body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./ghostbusters.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  color: hsl(51, 90%, 52%);
  font-size: 4rem;
  font-family: 'Alfa Slab One', cursive;
  font-weight: normal;
  text-shadow: 4px 0px 4px hsla(185, 0%, 0%, 0.84);
  margin-top: 1.5rem;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-shadow: 4px 0px 4px hsla(185, 0%, 0%, 0.84);
}

.profile h2 {
  font-family: 'Alfa Slab One', cursive;
  font-weight: normal;
  font-size: 2rem;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-shadow: 0px 0px 4px hsla(185, 0%, 0%, 0.84);
}

.movies-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back {
  font-family: 'Open Sans', sans-serif;
  margin: 1.5rem 0 4rem 0;
  font-size: 1.5rem;
  font-family: 'Alfa Slab One', cursive;
  color: hsl(51, 90%, 52%);
  text-decoration: none;
  text-shadow: 0px 0px 4px hsla(185, 0%, 0%, 0.84);
}

.back:hover {
  font-size: 1rem;
}

.profile img {
  width: 16rem;
}

.film {
  margin: 1rem;
  width: 14rem;
  padding: 0;
}

.film img:hover {
  width: 12rem;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 0.9rem;
  max-width: 40rem;
  margin-left: 4rem;
  margin-right: 4rem;
  text-shadow: 4px 0px 4px hsla(185, 0%, 0%, 0.84);
}

.overview {
  margin-bottom: 5rem;
}
